/****** Responsive Design between xs and sm ******/

.logo {
	height: 100px;
	width: 100px;
}

@media (min-width: 576px) {
	.logo {
		height: 70px;
		width: 70px;
	}
}

h1 {
	font-size: 1rem;
}

@media (min-width: 576px) {
	h1 {
		font-size: 2rem;
		color: red;
	}
}

.teams_width {
	width: 10rem;
}

@media (min-width: 576px) {
	.teams_width {
		width: 19rem;
	}
}

.team_logo {
	width: 5rem;
}

@media (min-width: 576px) {
	.team_logo {
		width: 10rem;
	}
}

.overflow_height {
height: 200px;
}

@media (min-width: 576px) {
	.overflow_height {
		height: 350px;
		width: 250px
	}
}



/****** Responsive Design between xs and sm ******/

.emailIcon {
	font-size: 2em;
}

/*
.overflow_height {
	height: 220px;
}
*/

ul {
	list-style: none;
}

/****** photos for the "teams page" ******/
